<app-header></app-header>

<br /><br />
<div class="cotainer">
  <div class="round1">
    <div class="container text-center">
      <div class="row">
        <div class="col p-3">Usuario :</div>
        <div class="col p-3">Perfil</div>
        <div class="col p-3">
          Salir
          <img
            src="../../../assets/img/icons8-apagar-48.png"
            class="l"
            (click)="terminarSession()"
          />
        </div>
      </div>

      <div class="row">
        <div class="col-12" class="container text-center">
          <table class="row align-items-start">
            <tr>
              <td>
                <input
                  type="radio"
                  [(ngModel)]="opcion"
                  id="opcion"
                  name="opcion"
                  value="1"
                />Orden verificación
              </td>
              <td>
                <input
                  type="radio"
                  [(ngModel)]="opcion"
                  id="opcion"
                  name="opcion"
                  value="2"
                />ID Verificador
              </td>
              <td>Mes</td>
              <td></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="ordenVerificacion"
                  id="ordenVerificacion"
                  [(ngModel)]="ordenVerificacion"
                />
              </td>
              <td>
                <input
                  type="text"
                  class="form-control"
                  name="idVerificador"
                  id="idVerificador"
                  [(ngModel)]="idVerificador"
                />
              </td>
              <td>
                <select class="form-select">
                  <option value="1">Enero</option>
                  <option value="2">Febrero</option>
                  <option value="3">Marzo</option>
                  <option value="4">Abril</option>
                  <option value="5">Mayo</option>
                  <option value="6">Junio</option>
                  <option value="7">Julio</option>
                  <option value="8">Agosto</option>
                  <option value="9">Septiembre</option>
                  <option value="10">Octubre</option>
                  <option value="11">Noviembre</option>
                  <option value="12">Diciembre</option>
                </select>
              </td>
              <td>
                <button type="button" class="btn btn-primary">Buscar</button>
              </td>
              <td>
                <button type="button" class="btn btn-primary">limpiar</button>
              </td>
            </tr>
          </table>

          <br /><br />

          <div class="round2">
            <div class="row">
              <div class="col-12" class="container text-center">
                <table>
                    <tr>
                        <td>Nombre del Frente</td>
                        <td></td>
                        <td>ID Oferente</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Nombre del Frente</td>
                        <td></td>
                        <td>ID Oferente</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Nombre del Frente</td>
                        <td></td>
                        <td>ID Oferente</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Nombre del Frente</td>
                        <td></td>
                        <td>ID Oferente</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Nombre del Frente</td>
                        <td></td>
                        <td>ID Oferente</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Nombre del Frente</td>
                        <td></td>
                        <td>ID Oferente</td>
                        <td></td>
                    </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
